<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Campfire</title>
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mandali" rel="stylesheet">
    {% load static %}
    <link type="text/css" rel="stylesheet" href={% static "campfire/css/campfire.css" %}>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#smallnav').hide();
            $("#navdownbtn").click(function(){
                $("#smallnav").slideToggle(100);
            });
        });
    </script>
    <style>
    .container{
      border : 1px solid radius;
    }

    .userinfo{
      border: 2px solid radius;
      padding: 2em;
    }
    ul{
      list-style: none;
    }

    </style>
  </head>
  <body>
      <div class="appbody">
          <div class="bodycontainer">
              <div class="appheader">
                  <button id="navdownbtn" class="icon">&#9776;</button>
                  <div id="smallnav">
                      <a href="/articles">Articles</a>
                      <a href="/qanda">Q & A</a>
                      <a href="/network">Network</a>
                      <a href="/inbox">Inbox</a>
                      <a href="#activityfeed">Activity Feed</a>
                      <a href="/profile">My Profile</a>
                      <a id="lastsmnav" href="logout">Logout</a>
                  </div>
                  <h1>Campfire</h1>
                  <img src={% static "campfire/img/logo.png" %}>
              </div>
              <div id="largenav">
                  <a href="/articles">Articles</a>
                  <a href="/qanda">Q & A</a>
                  <a href="/network">Network</a>
                  <a href="/inbox">Inbox</a>
                  <a href="#activityfeed">Activity Feed</a>
                  <a id="active" href="/profile">My Profile</a>
                  <a href="logout">Logout</a>
              </div>
              <div class="profile_container">
                    <div class="profilepic">
                      <h2>{{user_profile.user.first_name}} {{user_profile.user.last_name}}</h2>
                      <img class="profilepic "  src="../../static/campfire/img/user_icon.png" alt="Profile Image">
                    </div>
                    <div class="userinfo">
                        <form id="profId" action="updateProfile" method="post">
                        {% csrf_token %}
                        <p>Title: </p><input class="editprofile" type="text" name="title" value="{{user_profile.job_title}}">
                        <p>Location: </p><input class="editprofile" type="text" name="location" value="{{user_profile.location}}">
                        <p>URL: </p><input class="editprofile" type="text" name="url" value="{{user_profile.url}}">
                        <p>Bio: </p><textarea maxlength="500" id="bioedit" name="bio">{{user_profile.bio}}</textarea><br>
                        <button class="editbtn" type="submit" >Save</button>
                        </form>
                        <a id="editlink" class="editbtn" href="/profile">Cancel</a>
                    </div>
                  </div>
          </div>
      </div>
   


  </body>
</html>
